<!DOCTYPE html>
<head>
    <style>
        
        .footer {
          position: relative;
          bottom: 0;
          width: 100%;
          color: rgb(223, 206, 206);
          justify-content: start; 
          display: flex;
          background: black;
        }
        ol{
            text-decoration: none;
            list-style: none;
            background: linear-gradient( rgb(0 0 0 / 1.0), rgb(0 0 0 / 0));
            zoom: 70%;
        }
        </style>
</head>
<div class="footer">
    <ol>
        <li><h5>Productions</h5></li>
            <li><p> Services</p></li>
                <li><p> Logistics</p></li>
                    <li><p> Investment</p></li>
                        <li><p>education</p></li>
                
                                                        </ol>

                                                
                                                        <ol>
                                                            <li><h5>Socials</h5></li>
                                                                <li><p> Facebook</p></li>
                                                                    <li><p> Instagram</p></li>
                                                                        <li><p> Twitter</p></li>
                                                                            <li><p>Pinterest</p></li>
                                                                    
                                                                                                            </ol>
  </div>
</html>